.container{
    width: 100vw;
    height:100vh;
    display: flex;
    align-items: center;
    background-color:#0c0c0c;
    justify-content: center;
}

.title{
    margin-top: 5vh;
    color:#009182;
}

.textContainer{
    margin-top:1vh;
    margin-left: 1vw;
    max-width: 40%;
}

.image{
    align-self: flex-end;
    border-radius:20vw;
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
    padding-bottom:20px;
    width: 15vw;
    height:15vw;
    margin-right:8vw;
    margin-left: 8vw;
}