.container {
  margin: 0;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 100px 0;
  background-color: #0c0c0c;
}

.title {
  margin-bottom: 5vh;
  color: #009182;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  width: 100vw;
}

.icons,
.icons path {
  fill: white;
  margin-left: 1vw;
  margin-right: 1vw;
}

.icons path:hover,
.icons:hover {
  fill: #009182;
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .title {
    font-size: 12pt;
  }
  .svg-class-name {
    height: 50px;
    width: 50px;
  }
}
