.container {
  background-color: #0c0c0c;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.intro {
  font-size: 20pt;
  color: #009182;
}

.rText {
  font-size: 120pt;
  margin: 0;
  padding: 0;
  color: #009182;
}

.moreInfo {
  display: none;
}

@media screen and (max-width: 1100px) {
  .intro {
    font-size: 20pt;
  }

  .rText {
    font-size: 40pt;
  }
  .moreInfo {
    display: block;
    font-size: 9pt;
    color: rgb(212, 212, 212);
    margin-top: 2vh;
  }
}
