.container{
    height:100vh;
    display: flex;
    flex-direction: column;
    background-color: #0c0c0c;
    color:rgb(204, 203, 203);
    align-items: center;
    justify-content: center;
}

.title{
    margin-top: 5vh;
    color:#009182;
}

.image1{
    align-self: flex-end;
    border-radius:2vw;
    width: 15vw;
    margin-top:4vw;
    margin-right:5vw;
    margin-left: 16vw;
}

.image2{
    align-self: flex-end;
    border-radius:2vw;
    width: 15vw;
    height: 15vw;
    margin-top:4vw;
    margin-right:5vw;
    margin-left: 16vw;
}


.contentContainer{
    width:100vw;
    margin-bottom:10vh;
}

.workContainer{
    display: flex;
    align-items: center;
}

.workContent{
    text-align: left;
}

.mainContainer{
    display:flex;
}